In [3]:
class myclass:
    x=5
p1=myclass()
print(p1.x)

5

In [43]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfun(self):
        print(f"hello my name is {self.name} and age is {self.age}")

In [44]:
class student(person):
    def __init__(self,fname,lname,year): 
        super().__init__(fname,lname)
        self.graduationyear=year

In [45]:
x=student("mike","ram",2019)
x.myfun()
x.graduationyear

hello my name is mike and age is ram

2019

In [70]:
class part:
    def __init__(self,part1,part2):
        self.part1=part1
        self.part2=part2
    def my(self): 
        print(self.part1,self.part2)

In [71]:
class item(part):
    def __init__(self,item1,item2,year):
        super().__init__(item1,item2)
        self.years=year

In [72]:
y=item("ggg","rrr",3014)
y.my()
y.years

ggg rrr

3014

In [73]:
import numpy as np

In [85]:
a=np.arange(16).reshape(4,4)
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [86]:
print(a.flatten())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [84]:
print("hhh")

hhh

In [89]:
for x in np.nditer(a,order='F'):
    print(x)

0
4
8
12
1
5
9
13
2
6
10
14
3
7
11
15

In [90]:
for x in np.nditer(a,order='C'):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [2]:
try:
    print(X)
except NameError:
    print("an exception")
except:
    print("something")

an exception