Clustering with k means -python tutorial

In [3]:
from sklearn.cluster import KMeans
import pandas as pd 
from sklearn.preprocessing import  MinMaxScaler
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("income.csv")
df.head()

      Name  Age  Income($)
0      Rob   27      70000
1  Michael   29      90000
2    Mohan   29      61000
3   Ismail   28      60000
4     Kory   42     150000

df

plt.scatter(df.Age,df['Income($)'])
plt.xlabel('Age')
plt.ylabel('Income($)')

In [5]:
df['cluster']=y_predicted
km.cluster_centers_

NameError: name 'km' is not defined